
.env
*.local.env


venv/
.venv/
env/
.python-version
__pycache__/
*.pyc
*.so
.mypy_cache/
.pytest_cache/
.coverage
*.log
data.db

node_modules/
build/
dist/
npm-debug.log
yarn-error.log
.yarn-integrity
.vite/

.vscode/
.idea/
.DS_Store
Thumbs.db